body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    /* Custom vars */
    --sep-border-color: rgba(255, 255, 255, .4);
    --heavy-sep-border: rgba(255, 255, 255, .65);
    --header-text-color: #fff;
    --darker-surface-bg: rgba(18, 18, 18, .7);
    --content-text-color: #cecece;
    --scrim-bg: rgba(0, 0, 0, .3);
    --outline-border-color: rgba(115, 115, 115, .5);
    --overlay-border-radius: 9px;
    --overlay-shadows: 0 0 100px 8px rgba(0, 0, 0, .4);
    --main-bg: #121212;
    --top-app-bar-bg: var(--mdc-theme-surface);
    --mdc-theme-error: #c62828;
    --warning-bg: rgba(255, 160, 0, .25);
    --info-bg: rgba(25, 118, 210, 0.25);
    /* MDC Customisation vars */
    --mdc-checkbox-unchecked-color: #aaa;
    --mdc-theme-primary: #2295fc;
    --mdc-theme-secondary: #d32f2f;
    --mdc-theme-surface: #333;
    --mdc-typography-headline4-font-family: 'Roboto Slab', 'Roboto';
    --mdc-typography-headline3-font-family: 'Roboto Slab', 'Roboto';
    --mdc-typography-headline2-font-family: 'Roboto Slab', 'Roboto';
    --mdc-typography-headline1-font-family: 'Roboto Slab', 'Roboto';
    --mdc-shape-small: 7px;
    --mdc-shape-medium: var(--overlay-border-radius);
    --mdc-theme-background: var(--main-bg);
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, .87);
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, .57);
    --mdc-theme-text-icon-on-background: var(--content-text-color);
    --mdc-theme-text-icon-on-dark: var(--content-text-color);
    --mdc-theme-text-icon-on-light: var(--mdc-theme-surface);
    --mdc-ripple-color: var(--header-text-color);
    --mdc-ripple-focus-opacity: 0;
    /* Custom scrollbar just for firefox */
    scrollbar-color: rgb(107, 107, 107) rgb(43, 43, 43);
    /* Set background color */
    background-color: var(--main-bg);
}

/* Sensible defaults */
* {
    padding-top: 0.1px; /* Prevent collapsing of margins */
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

/****** Style Native Elements ******/
/* Text font and colors */
h1, h2 {
    color: var(--header-text-color, #fff);
    transition: color 250ms;
    font-family: var(--mdc-typography-headline2-font-family);
}
h3 { font-family: var(--mdc-typography-headline3-font-family); }
p, h3, h4, h5, h6, label, small {
    color: var(--content-text-color, #fff);
    transition: color 250ms;
}
h1 { font-family: var(--mdc-typography-headline1-font-family); }
h2 { font-family: var(--mdc-typography-headline2-font-family); }
h3 { font-family: var(--mdc-typography-headline3-font-family); }
a {
    color: var(--mdc-theme-primary);
}

hr {
    border-color: var(--sep-border-color, rgba(255, 255, 255, .4));
}

img {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


/* Utility classes */
/* Display */
.display-inline {
    display: inline;
}
.display-block {
    display: block;
}
/* Margins */
.margin-no {
    margin: 0 !important;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-auto {
    margin-left: auto;
}
.margin-right-auto {
    margin-right: auto;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
/* Paddings */
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-no {
    padding: 0 !important;
}
.text-holder-padding {
    padding: 1rem;
}
/* Widths */
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}
/* Font sizes */
.font-size-75 {
    font-size: 75px;
}
/* Alignment */
.text-centered {
    text-align: center;
}
.center-self {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
.horiz-self-center {
    left: 50%;
    transform: translateX(-50%);
}

.min-height-100 {
    min-height: 100vh;
}

/* Progress bars */
.centered-progress {
    display: block;
    margin: 5px auto;
}

/* Profile image */
.profile-img {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    border: 1px solid var(--outline-border-color);
}

/* FABs */
.aligned-fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 6;
}
.mdc-fab {
    transition: transform .15s cubic-bezier(0.47, 0, 0.75, 0.72) !important;
}
.mdc-fab.hidden-fab {
    transform: translateY(130%);
}

/* Mason card layout */
.mason-cards {
    margin: 10px auto 8px auto;
    max-width: calc(100% - 16px);
}
.mason-cards > .mdc-card {
    margin-bottom: 8px;
    width: 344px;
}
@media only screen and (max-width: 719px) {
    .mason-cards > .mdc-card {
        margin-bottom: 8px;
        width: calc(50% - 4px);
    }
}
@media only screen and (max-width: 499px) {
    .mason-cards > .mdc-card {
        margin-bottom: 8px;
        width: 100%;
    }
}

/****** Footer ******/
footer {
    background-color: var(--darker-surface-bg);
    backdrop-filter: blur(4px);
    border-radius: .75em .75em 0 0;
    padding: 0.5em 1.5em;
}

/* ====== Custom scrollbar ======= */
::-webkit-scrollbar {
    background-color: #fff;
    width: 14px
}

/* Background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-corner {
    background-color: rgb(43, 43, 43);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 14px;
    border: 3px solid rgb(43, 43, 43);
    transition: all 500ms ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 149, 149);
}

/******* Keyboard accessibility *******/
body:not(.using-mouse) :focus {
    outline: none !important;
    /*box-shadow: 20px 15px 30px yellow, -20px 15px 30px lime, -20px -15px 30px blue, 20px -15px 30px red; !important; /* That'll show 'em */
    box-shadow: 0 0 0 5px rgba(21, 156, 228, .6);
}